* {margin:0; padding: 0px;}

.content {
	width: 10%;
	margin: 0 auto;
	display: inline-block;
}

.aside {
	width: 40%;
	display:inline-block;
}

.box {
	padding-top:50%;
	width:50%;
	height:10%;
	margin:10px;
}

.box-1{
	background-color:#000;
}

.box-2{
	background-color:#ff0000;
}

.box-3{
	background-color:#00ff00;
}

.box-4{
	background-color:#0000ff;
}

.paragraph-1 {
	color: #000;
	border: 2px solid #000;
	width: 300px;
}

.paragraph-2 {
	color: #ff0000;
	border: 2px solid #ff0000;
	width: 300px;
}

.paragraph-3 {
	color: #00ff00;
	border: 2px solid #00ff00;
	width: 300px;
}

.paragraph-4 {
	color: #0000ff;
	border: 2px solid #0000ff;
	width: 300px;
}

