* {
margin: 0;
}

body {
	font-family: Arial;
	font-style: bold;
}

.content {
margin: 20px auto;
width: 80%;

}

.image {
display: inline-block;
position: relative;
width: 60%;
height: 300px;
background-color: yellow;
}

.image h3 {
	position: absolute;
	top: 230px;
	width: 472px;
	height: 30px;
	transition-property: height, top;
	transition-duration: .3s;
	padding: 20px;

	background-color: rgba(100,100,100,.5);
}

.image:hover h3 {
	transition-property: height, top;
	transition-duration: .3s;
	top: 210px;
	height: 50px;
}

iframe {
	margin: 0 auto;
	margin-right: 20px;
}

header {
	background-color: #B80B03;
	padding: 10px 0px;
}

header h1 {
	width: 300px;
	margin: 10px auto;
	color: white;
}